body {
  font-family: PT Mono;
  text-align: center;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}
.container h1 {
    font-family: Times, serif;
    color: bisque;
    text-align: center;
}

.container h3, h2 {
  font-family: PT Mono;
  color: bisque;
  text-align: center;
}
.container p {
  text-align: center;
  font-family: PT Mono;
}
.text-center {
  text-align: center;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
     url("images/splash.image.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0; 
}
header h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
}

.btn-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  display: block;
  color: #342c54;
  padding: 16px 32px;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #f2b295;
  margin: 0 auto;
  max-width: 120px;
  border-radius: 5px;
}

main {
    background-color: rgb(255, 251, 247);
  }
  
  main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
    color: rgb(107, 90, 69);
    opacity: 0.5;
    text-transform: uppercase;
  }
  
  main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
  }

  main h4 {

  }
  main h5 {

  }
  
  main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;
  }
  .caption {
    font-size: 10px;
    
  }

  section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}


section.secondary {
  background: rgb(241, 237, 235);

}

.grid-3-columns {
  grid-gap: 44px;
  grid-template-columns: 1fr 1fr 1fr;
}


 .btn {
  font-weight: 700;
  font-size: 14px;
  font-style: none;
  line-height: 1.5;
  text-align: center;
  display: block;
  color: #342c54;
  padding: 12px 30px;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #f2b295;
  margin: 0 auto;
  max-width: 120px;
  border-radius: 5px;
}

.img-responsive {
  max-width: 90%;
  display: block;
  border-radius: 5px;
}


.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-body {
    padding: 30px;
}

.card {
  background-color: white;
  margin: 30px 0;
  grid-gap: 30px 0;
  }

.card {
  background-color: white;
  margin: 30px 0;
  padding: 30px;
}

.card-header .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}

.card h3 {
  font-family: Times, serif;
}

.card h4 {
  font-family: PT Mono;
    color: #272044;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
   }

.img-responsive-card {
  width: 100%;
  aspect-ratio: 1 /1;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
    display: block;
    font-family: PT Mono;
    color: black;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding: 16px;
    background-color: #e7d1c8;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
   outline:rgb(107, 90, 69) 1pt solid;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.embed {
    max-width: 100%;
    aspect-ratio: 1 /1;
}

.gallery {
    max-width: 90%;
    margin: 30px 0;
    border-radius: 5px;
}

.instagram-media {
  max-width: 90%;
  margin: 30px 0;
  border-radius: 5px;
}


 
footer {
    color: white;
    background-image: linear-gradient(
        rgba(45, 22, 34, 0.9),
        rgba(48, 38, 25, 0.9)
      ),
      url("images/waterfall.png");
  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  
  footer h3 {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  
  footer p {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    margin-right: 20px;
    line-height: 24px;
    text-align: left;
  }
  
  footer ul {
    padding: 0;
  }
  
  footer li {
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
  
  footer a {
    color: white;
    opacity: 0.7;
    text-align: left;
  }


  @media (max-width: 960px) {
    header {
      padding: 60px 0;
    }
  
    header h1 {
      font-size: 48px;
    }
  
    header h2 {
      font-size: 20px;
    }
  
    header h3 {
      font-size: 12px;
    }
    .img-responsive-card {
      display: none;
    }

     .embed {
       aspect-ratio: 16 /9;
    }

    .grid-2-columns {
      display: grid;
      grid-template-columns: 1fr;
    }


    .grid-3-columns {
      display: grid;
      grid-template-columns: 1fr;
    }

    footer a {
      display: block;

    }

    .footer-grid {
      display: grid;
      grid-template-columns: 1fr;

    }
    .gallery {
      display: grid;
      grid-template-columns: 1fr;
    }

  }

